In [6]:
class person:
    def __init__(self,name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

In [7]:
adamkhor = person('Adam', '34', 'Male') 
print(adamkhor.name)
print(adamkhor.age)

Adam
34

but now lets try to use python new feature for tgis that is python dataclass

In [8]:
from dataclasses import dataclass
@dataclass

class name1:
    name:str
    age:int
    dob: int
    last_name:str

In [11]:
old = name1('hari', 45, 1990, 'Mihra')

In [12]:
print(old)

name1(name='hari', age=45, dob=1990, last_name='Mihra')

In [13]:
print(old.name)

hari

In [ ]:
numerical_features = data for data in college.columns if college[data].dtypes != "O"

In [3]:
import math

In [9]:

from statistics import mean
if __name__ == '__main__':
    n = int(input("Enter the number of students: "))
    student_marks = []
    for _ in range(n):
        name = input("Enter student name: ")
        scores = []
        for _ in range(3):
            score = float(input("Enter score for subject {}: ".format(_+1)))
            scores.append(score)
        student_marks.append((name, scores))
    
    for name, scores in student_marks:
        average_marks = mean(scores)
        print("Average marks for {} are: {:.2f}".format(name, average_marks))

Average marks for khushi are: 41.33
Average marks for aryan are: 73.67

In [10]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores

In [11]:
student_marks

{'nishi': [56.0, 76.0, 56.0], 'khushi': [67.0, 87.0, 98.0]}

In [8]:
print('kalsL'.isupper())

False

In [12]:
s = 'jdjalL'

if s.isupper():
    print('True')
else:
    print('False')

False

In [19]:
def check_string(s):
    print(any(char.isalnum() for char in s))
    print(any(char.isalpha() for char in s))
    print(any(char.isdigit() for char in s))
    print(any(char.islower() for char in s))
    print(any(char.isupper() for char in s))
    
s = input("Enter a string: ")
check_string(s)

True
True
True
True
True

In [7]:
def average(arr):
    q1 = list(arr)
    return sum(q1)/len(q1)    
        

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

4.5

In [8]:
values = [5, 3, 1, 4, 2]

# Sort the values
sorted_values = sorted(values)

# Print the sorted values in a for loop
for value in sorted_values:
    print(value)

1
2
3
4
5

In [1]:
set1 = set("Navanish")
set1.add('P')
set1

{'N', 'P', 'a', 'h', 'i', 'n', 's', 'v'}

In [2]:
n = int(input('enter total number of country stamps'))
name = str(input('enter country name'))
name

'khiu jhih kbui '

In [3]:
k = ('gjvg', 'igiu', 'khiuhg', 'khk')

In [4]:
len(k)

4

In [11]:
n = int(input())
name = set(input().split())


output = len(name)
print(output)

6

In [4]:
for e in range(10):
    print(e)

0
1
2
3
4
5
6
7
8
9

In [7]:
[print(e) for e in range(10)]

0
1
2
3
4
5
6
7
8
9

[None, None, None, None, None, None, None, None, None, None]